html {
	font-size: 17px !important;
}
@media only screen and (min-width:401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width:428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width:481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width:569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width:641px){
    html {
        font-size: 20px !important; 
    }
}

@media only screen and (min-width:1024px){
    html {
        font-size:27px !important; 
    }
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
	pre, form, fieldset, legend, button, input, textarea, th, td, figure {
	margin:0;
	list-style:none;
	padding:0;
}

img{
	border:none;
}
body, button, input, select, textarea, td, th {
	color: #8c8c8c;
	font: 14px/24px \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, Arial, sans-serif;
	outline: none£»
}
body{
	padding-bottom:30px;

}
input{
	border:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

.title{
	font-size:1.2rem;
	text-align:center;
	line-height:3.4rem;
	color:#fff;
	height:3.4rem;
	background:#08b906;
}

.fmbox ul.listinput li{
	margin:0 auto;
	border: 1px solid #ebebeb;
	border-top: none;
	borde:1px solid red;
}

.fmbox ul.listinput li input{
	width:100%;
	text-indent:1rem;
	font-size:0.7rem;
	color:#c3c3c3;
	height: 2.7em;

}
.fmbox ul.but{
	background:#08b906;
	height:2.3rem;
	line-height:2.3rem;
	width:100%;
	margin:0 auto;
	color:#fff;
	text-align:center;
	margin-top:1rem;
	font-size:1.0rem;
	width:92%
}

.fmbox2 ul.report li{
	background:#fff;
	width: 100%;
	line-height:3.7em;
	height:2.7rem;
	color: #c3c3c3;
	text-indent:0.5rem;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-top:none;
	margin-bottom:0.3rem ;
	font-size:0.8rem;
}
.fmbox2 ul.report span {
	color:#676767;
	padding-right:px;
	width:5rem;
	display:block;
	float:left;
	text-indent:0.9rem;
	height:2rem;
	font-size:0.8rem;
}	
.fmbox2 ul.report li.nh{
	height:auto;
	
}
.fmbox2 ul.report li.nh p{
	text-indent:0.9rem;
	
}

.fmbox2 ul.report li.nh span{
	display:-webkit-box;
	width:100%;
	clear:both;

}
.fmbox2 ul.but{
	background:#08b906;
	height:2.3rem;
	line-height:2.3rem;
	width:100%;
	margin:0 auto;
	color:#fff;
	text-align:center;
	margin-top:1rem;
	font-size:1.0rem;
	width:92%
}
