@CHARSET "UTF-8";
.center{
		text-align: center;	
		}
.login{
    text-align: center;
    }
.input-group{
	margin-bottom: 20px
}    
.top10{
	margin-top: 10px
}
.left10{
	margin-left: 10px
}
.fontzize040{
font-size: 40%;	
}
.padding000{
	  padding: 0 .1em 0;
}
.well0{
	margin-bottom: 0
}
.right20{
	margin-right: 20px
}
.font25{
	font-size: 25px;
}
.padding0{
	padding: 0
}
.backcolor{
	background-color: #2e6da4
}
.media .well{
	margin-bottom: 2px;
}
.fixtop{
  position: fixed;
  right: 0;
  left: 0;
}